Package: chonos-network
Version: 25.11.28
Priority:
Architecture: all
Essential:
Depends: chonos-task (>= 25.11.26), chonos-ddnsmng (>= 1.6.1), chonos-log (>= 25.11.19)
Pre-depends: dhcpcd5, wpasupplicant, isc-dhcp-server, dnsutils, dnsmasq, wireless-tools, isc-dhcp-client
Suggests:
Installed-Size:
Maintainer: Nilson Lazarin <chon@grupo.cefet-rj.br>
Homepage: https://github.com/chon-group/dpkg-chonos-network
Conflicts: network-manager, networkd-dispatcher, chonos-nettest, chonos-netmng
Replaces:
Provides:
Description: ChonOS Network Manager implements auto management for IEEE 802.3 and IEEE 802.11 network interfaces.
